# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
report_generator_env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Generated outputs
data/output/

# OS files
.DS_Store
Thumbs.db

